*
!.gitignore

!dist_win32
!dist_win32/**

!dist_android
!dist_android/**

!scripts_and_others
!scripts_and_others/**

!server_side
!server_side/**

!client_side
!client_side/**

**.pro.user
**.autosave

/client_side/basic_website/nbproject/private/
/client_side/nbproject/private/