
<button id="jspanel-open" type="button" class="btn btn-info btn-sm sample">
	Open Code Editor
</button>

<script>
	$('#jspanel-open').click(function () {
		$('#jspanel-open').hide();
		$.jsPanel({
			closeOnEscape: true,
			theme: 'bootstrap-primary',
			headerTitle: 'Code editor',
			maximizedMargin: [100, 10, 50, 10, true],
			dragit: {	containment: [100, 10, 50, 10]	},
			resizeit: {	containment: [100, 10, 50, 10]},
//			position: {
//				my : 'center'
//			},
			content: '<div id="subwindow"></div>',
			panelSize: "350 500",
//			footerToolbar: ftr,
//			callback: function () {
//				$('.jsPanel-ftr', this).css({flexFlow: 'row-reverse'});
//			},
			onbeforeclose: function () {
				$("#codeEditor1").appendTo("#codeEditorOriginal");
				$('#jspanel-open').show();
			}
		});
		$("#codeEditor1").appendTo("#subwindow");
	});
</script>

<div id="codeEditorOriginal" style=" display: none ">
	<div id="codeEditor1">


		<script src="assets/lib/ace.js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
		<script src="assets/lib/ace.js/src-min/ext-language_tools.js"></script>

		<select ng-model="sol.type" ng-options="m for m in types" ng-change="modeChanged()"></select>

		<pre id="editor" style="border: 1px solid lightgray;	margin: auto;	height: 200px;	width: 80%;    " ng-keyup="updateModel()">
		****
		Please select the
		preferred Language
		*******
		</pre>

		<script>
					var editor = ace.edit("editor");
					editor.setTheme("ace/theme/eclipse");
					editor.session.setMode("ace/mode/java");
					editor.setOptions({
						enableBasicAutocompletion: true,
						enableSnippets: true,
						enableLiveAutocompletion: true
					});

//					if(app.state.currentSrc !== undefined)
//						editor.setValue(app.state.currentSrc);
				
		</script>
		<br/>
		<button ng-click="submitSolution()"> Submit</button>
		<br/>

		<!--		Output
				<pre style="border : 2px solid black; ">{{ result.oup }}</pre><br/>-->

		Status : <div > {{result.status}}</div>

		Error : 
		<pre style="border : 2px solid black; ">{{ result.error }}</pre>
	</div>
</div>

