
<div class="container">
	<!--	<div id="titles">
			<div class="row" id="titleContent">
				<div class="col-xs-12">-->
	<h2>Leaderboard</h2>

	<table class="table table-striped">
		<thead>
		<th style="width:5%;">Pos</th>
		<th style="width:50%;">Name</th>
		<th>Score</th>
		<th>Time</th>
		<th># of Attempts</th>
	</thead>

		<tbody>
			<tr>
				<td>1</td>
				<td>Programmer Panda</td>
				<td>50</td>
				<td>1:50</td>
				<td>2</td>
			</tr>

		</tbody>

	</table>


	<!--			</div>
			</div>
		</div>-->
</div> 


