

<div class="Bodysection" id = "prob_statement">

	<h1 align=center style='text-align:center'><b>{{problem.name}}</b></h1>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.desc}}</p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;</p>
	<p class=MsoNormal><b>INPUT:</b></p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.ip_format}}</p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>
	<p class=MsoNormal><b>OUTPUT:</b></p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.op_format}}</p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>
	<p class=MsoNormal><b>CONSTRAINTS:</b></p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.constraints}}</p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>
	<p class=MsoNormal><b>SAMPLE I/P</b></p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.sample_ip}}</p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>
	<p class=MsoNormal><b>SAMPLE O/P</b></p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.sample_op}}</p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>
	<p class=MsoNormal><b>EXPLANATION</b></p>
	<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>{{problem.explanation}}</p>



</div>
