

<div class="Bodysection" id = "prob_statement">

	<h1 align=center style='text-align:center'><b>{{problem.name}}</b></h1>

	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
		<pre> {{problem.desc}} </pre>
	</div>

	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;&nbsp;</div>
	<div class=MsoNormal><b>INPUT:</b></div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'> <pre> {{problem.ip_format}} </pre> </div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</div>
	<div class=MsoNormal><b>OUTPUT:</b></div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'> <pre> {{problem.op_format}} </pre> </div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</div>
	<div class=MsoNormal><b>CONSTRAINTS:</b></div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'> <pre> {{problem.constraints}} </pre> </div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</div>
	<div class=MsoNormal><b>SAMPLE I/P</b></div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'> <pre> {{problem.sample_ip}} </pre> </div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</div>
	<div class=MsoNormal><b>SAMPLE O/P</b></div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'> <pre> {{problem.sample_op}} </pre> </div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</div>
	<div class=MsoNormal><b>EXPLANATION</b></div>
	<div class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'> <pre> {{problem.explanation}}</div>



</div>
