
<div class="col-md-6 col-md-offset-3">

	<h1>WELCOME TO CODERUDITE. LETS START THE JOURNEY</h1>
	<form name="registerForm" ng-submit="registration()">
		<label>First name</label>
		<input type="text" name="fname" id="fname" ng-model="trialUser.firstName" required>
		<span ng-show="registerForm.fname.$error.required">First Name is required.</span>
		<br>
		<label>Last name</label>
		<input type="text" name="lname" id="lname" ng-model="trialUser.lastName" required>
		<span style="color:red" ng-show="registerForm.lname.$error.required">Last Name is required.</span>
		<br>
		<label>Email Id</label>
		<input type="email" name="emailid" id="emailid" ng-model="trialUser.emailid" required>
		<span style="color:red" ng-show="registerForm.emailid.$error.required">Email Id is required.</span>
		<br>
		<label>Password</label>
		<input type="password" name="pwd" id="pwd" ng-model="trialUser.pwd" required>
		<span style="color:red" ng-show="registerForm.pwd.$error.required">Password is required.</span>
		<br>
		<label>Date of Birth</label>
		<input type="date">
		<input type="submit" value="Register">
	</form>


</div>

<script>
	setTimeout(()=> $("#jspanel-open").hide(), 100);
</script>